/* 
Gradiente do Fundo
background: linear-gradient(90deg, #131E26 60%, #223947, #325A6F);
Gradiente do Botão
background: linear-gradient(90deg, #349054, #57c3f0); 
Fonte do projeto */
@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');
* {
    margin: 0;
    padding: 0;
    color: white;
    box-sizing: border-box;
    font-family: "Poppins", sans-serif;
}
.menu{
    display: flex;
    justify-content: space-between;
    width: 100%;
    background: linear-gradient(90deg, #131E26 60%, #223947, #325A6F);
    color:white;
    align-items: center;
    height: 100px;


}
ul{
    display: flex;
    list-style: none;
    gap: 20px;
}
li{
    font-size: 20px;
}
.logo{
    width: 250px;
    padding: 20px;
}
.btn{
    background: linear-gradient(90deg, #349054, #57c3f0);
    border-radius: 10px;
    height: 50px;
    display: flex;
    gap: 10px;
    justify-content: center;
    align-items: center;
    padding: 15px;
    padding-block: 30px;
    margin-right: 20px;
}
.seta{
    width: 25px;
    height: 25px;
    
}

.hero{
    display: flex;
    justify-content: center;
    background: linear-gradient(90deg, #131E26 60%, #223947, #325A6F);
}
p{
    font-size: 20px;
}

.texto, .imagem{
    display: flex;
    justify-content: center;
    align-items: center;
    flex: 1;
    height: 100dvh;

}
.texto{
    flex-direction: column;
    padding: 50px;
    gap: 20px;
}
.hero h1{
    font-size: 5rem;
}
.hero img{
    width: 600px;
}

.baixo{
    width: 100%;
    display: flex;
    justify-content: flex-start ;
    gap: 20px;
}

.baixo img{
    width: 20px;
    height: 20px;
}

.section-2{
    background-color: #F0F0F0;
    padding: 30px;
}

.section-2 h2, .section-2 p{
    color: #000;
    text-align: justify;
    padding: 20px;
}




.card img{
    height: 300px;
    border-radius: 10px;
}

.container{
    display: flex;
    justify-content: space-around;
    align-items: center;
}

.card{
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    background-color: #FFFFFF;
    width: 300px;
    padding: 20px;
    border-radius: 10px;
}

.card span{
    align-items: center;
    background-color: #131E26;
    display: flex;
    padding: 20px;
    justify-content: center;
    border-radius: 10px;
}

